{% extends "./layout.html" %} {% block title %}Memos{% endblock %} {% block content %}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Send a memo
                </h3>
            </div>

            <div class="panel-body">

                <form action="/memos" method="post" role="search">

                    <div class="form-group">
                        <textarea class="form-control" name="memo"></textarea>
                        <p class="help-block">You may use Markdown syntax to format your memo</p>
                    </div>
                    <input type="hidden" name="_csrf" value="{{csrftoken}}"></input>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>

        {% for doc in memosList %}
        <div class="panel panel-info">
            <div class="panel-body">
                {{ marked(doc.memo) }}
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}